# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.SpriteSortingPlugin.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\HAW_Games\MA\SpriteSortingPlugin\SpriteSortingPlugin\SpriteSortingPlugin\.idea\.idea.SpriteSortingPlugin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
